@import '../utils/variables/colors.scss';

.toggle {
   background-color: $mainColor;
   padding: 10px 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   user-select: none;
   border-radius: 5px;
   width: 100%;
   &__title {
      color: #fff;
      font-weight: 500;
      font-size: 1.5rem;
   }
   &:hover {
      cursor: pointer;
   }
   &__chevron {
      display: flex;
      align-self: center;
      justify-content: flex-end;
      & img {
         transition: all 0.5s ease;
      }
      &__active img {
         transform: rotate(-180deg);
      }
   }
   &__name {
      font-size: 26px;
      color: white;
      font-weight: 500;
      line-height: 25.67px;
   }
}

.toggleWrap {
   display: flex;
   gap: 76px;
   flex-direction: row;
   margin: 26px 0;
   & div {
      width: 100%;
   }
}

.description {
   background-color: $componentsBg;
   transition: all 1s ease;
   overflow: hidden;
   transform: translate(0, -60px);
   opacity: 0;
   z-index: -20;
   padding: 0px 20px;
   position: relative;
   border-radius: 0 0 5px 5px;
   &__active {
      opacity: 1;
      padding: 40px 20px;
      transform: translate(0);
   }
   &__list {
      list-style-type: none;
   }
   &__txt {
      list-style-type: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.67px;
   }
}

@media screen and (max-width: 750px) {
   .toggle__title,
   .description {
      font-size: 1rem;
      line-height: 20px;
   }
}
