@import '../utils/variables/colors.scss';

.toggleWrap {
   display: flex;
   justify-content: space-between;
   gap: 76px;
   margin: 30px 0;
   & div {
      width: 100%;
   }
}

.toggle {
   background-color: $mainColor;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
   border-radius: 5px;
   width: 100%;
}

.toggle {
   background-color: $mainColor;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
   border-radius: 5px;
   &__name {
      color: #fff;
      font-weight: 500;
      font-size: 1.5rem;
   }
   &:hover {
      cursor: pointer;
   }
   &__chevron {
      transition: all 0.5s ease;
      display: flex;
      align-self: center;
      justify-self: center;
      &__active {
         transform: rotate(-180deg);
      }
   }
}

.description {
   background-color: $componentsBg;
   transition: all 1s ease;
   overflow: hidden;
   transform: translate(0, -60px);
   opacity: 0;
   z-index: -20;
   padding: 0px 20px;
   position: relative;
   border-radius: 0 0 5px 5px;
   &__active {
      opacity: 1;
      padding: 40px 20px;
      transform: translate(0);
   }
   &__txt {
      list-style-type: none;
   }
}

@media screen and (max-width: 750px) {
   .toggleWrap {
      flex-direction: column;
      gap: 25px;
   }
}
