@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --main-color: #ff6060;
   --component-background: #f6f6f6;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 40px;
}

@media screen and (max-width: 750px) {
   body {
      max-width: 100%;
      padding: 0 20px;
   }
}
