@import './variables/colors.scss';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Montserrat, Arial, Helvetica, sans-serif;
   text-decoration: none;
   color: $mainColor;
}

body {
   font-weight: 500;
   line-height: 142.6%;
   font-size: 1.5rem;
}

#root {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

html,
body,
#root {
   height: 100%;
}

main {
   max-width: 1400px;
   margin: auto;
}

@media screen and (max-width: 750px) {
   main {
      max-width: 100%;
      padding: 0 20px;
   }
}
