.banner {
   height: 223px;
   background-color: #000;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   margin: 20px 0;
   &__img {
      height: 100%;
      width: 100%;
      border-radius: 25px;
      object-fit: cover;
      opacity: 0.7;
      position: absolute;
   }
}
